html {
  overflow-y: scroll;
}

.exo-post {
  margin-bottom: 25px;
}

#table-of-contents {
  position: relative;
  float: right;
  width: 300px;
  margin-left: 30px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgba(0,0,0,0.06);
  background-color: #ffffff;
  z-index: 99;
}

#table-of-contents-header
{
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,0.06);
}

#markdown-toc {
  padding-left: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

#markdown-toc ul,
#markdown-toc li {
  list-style: none;
}
