@import url("../third_party/github-markdown-css/github-markdown.css");

.markdown-body code {
  padding-left: 0.4em;
  padding-right: 0.4em;}

.markdown-body code:before,
.markdown-body code:after {
  content: "";
}

.markdown-body {
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

.markdown-body hr {
  height: 1px;
}
