@import url("../third_party/github-markdown-css/github-markdown.css");

.markdown-body code {
  padding-left: 0.4em;
  padding-right: 0.4em;}

.markdown-body code:before,
.markdown-body code:after {
  content: "";
}

#markdown-toc ul {
  list-style-type: none;
}
