#menu .pure-menu-heading {
    background: none !important;
}

#menu li.pure-menu-selected a:hover,
#menu li.pure-menu-selected a:focus {
    background: none !important;
}

#menu .pure-menu-heading {
    font-size: 125% !important;
    font-weight: 300;
}

#menu .pure-menu-heading:hover,
#menu .pure-menu-heading:focus {
    color: #999;
}

