<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2021 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidx.media3.test.session">
  <uses-sdk/>

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <queries>
    <package android:name="androidx.media3.test.session.test" />
  </queries>

  <application
      android:name="androidx.multidex.MultiDexApplication"
      android:allowBackup="false">
    <activity android:name="androidx.media3.test.session.common.SurfaceActivity"
        android:exported="false" />

    <receiver android:name="androidx.media3.session.MediaButtonReceiver"
      android:exported="true"
      android:process=":remote">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <service android:name="androidx.media3.session.MediaControllerProviderService"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <!-- Keep sync with CommonConstants.java -->
        <action android:name="androidx.media3.test.session.action.MEDIA3_CONTROLLER" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.MediaControllerCompatProviderService"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <!-- Keep sync with CommonConstants.java -->
        <action android:name="androidx.media3.test.session.action.MEDIA_CONTROLLER_COMPAT" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.MediaBrowserCompatProviderService"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <!-- Keep sync with CommonConstants.java -->
        <action android:name="androidx.media3.test.session.action.MEDIA_BROWSER_COMPAT" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.MediaSessionProviderService"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <!-- Keep sync with CommonConstants.java -->
        <action android:name="androidx.media3.test.session.action.MEDIA3_SESSION" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.MediaSessionCompatProviderService"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <!-- Keep sync with CommonConstants.java -->
        <action android:name="androidx.media3.test.session.action.MEDIA_SESSION_COMPAT" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.MockMediaSessionService"
        android:foregroundServiceType="mediaPlayback"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <action android:name="androidx.media3.session.MediaSessionService" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.LocalMockMediaSessionService"
      android:foregroundServiceType="mediaPlayback"
      android:exported="true">
      <intent-filter>
        <action android:name="androidx.media3.session.MediaSessionService" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.MockMediaLibraryService"
      android:foregroundServiceType="mediaPlayback"
      android:exported="true"
      android:process=":remote">
      <intent-filter>
        <action android:name="androidx.media3.session.MediaLibraryService" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.LocalMockMediaLibraryService"
      android:foregroundServiceType="mediaPlayback"
      android:exported="true">
      <intent-filter>
        <action android:name="androidx.media3.session.MediaLibraryService" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.MockMediaBrowserServiceCompat"
        android:exported="true"
        android:process=":remote">
      <intent-filter>
        <action android:name="android.media.browse.MediaBrowserService" />
      </intent-filter>
    </service>

    <service android:name="androidx.media3.session.LocalMockMediaBrowserServiceCompat"
        android:exported="true">
      <intent-filter>
        <action android:name="android.media.browse.MediaBrowserService" />
      </intent-filter>
    </service>
  </application>
</manifest>
