///
// Skin: Orange
// Author: Tian Qi
// Email: kitian616@outlook.com
///

// main colors
$main-color-1:     #f92651;
$text-color-1:     #fff;

$main-color-2:     #fdb824;
$text-color-2:     #fff;

$main-color-3:     #ff8a64;
$text-color-3:     #fff;

$main-color-theme-light: rgba(#000, .9);
$main-color-theme-dark:  rgba(#fff, .9);

// page background
$background-color: #fffdfa;

// text colors
$text-color-theme-light-d: rgba(#000, .95);
$text-color-theme-light:   rgba(#000, .85);
$text-color-theme-light-l: rgba(#000, .5);

$text-color-theme-dark-d:  rgba(#fff, .95);
$text-color-theme-dark:    rgba(#fff, .85);
$text-color-theme-dark-l:  rgba(#fff, .65);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: linear-gradient(60deg, #ffa650 0%, #ff7b50 100%);

$footer-text-color: $text-color-3;
$footer-background: linear-gradient(60deg, #ffa650 0%, #ff7b50 100%);

// border and shadow colors
$border-color:     mix($main-color-1, $background-color, 50%);
$border-color-l:   mix(#000, $background-color, 10%);
$decorate-color:   rgba(#000, .1);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-3, .5);

// function colors
$green:           #52c41a;
$blue:            #1890ff;
$yellow:          #fa8c16;
$red:             #f5222d;
$text-color-function: #fff;

// logo colors
$mail-color:       #0072c5;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #000;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #000;
$npm-color:        #fff;

// highlight colors
@import "skins/highlight/tomorrow-night-eighties";