<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed">
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:light,regular,medium,thin,italic,mediumitalic,bold" title="roboto">
   <link href="{{ site.baseurl }}/css/default.css" rel="stylesheet" type="text/css">
   <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="site">
  <div class="header">
  </div>
  {{ content }}
  <div class="footer">
  </div>
</div>

</body>
</html>
